.header {

	height: 50px;
	text-align: center;  
	font-size: 45px;  
	font-weight: bold;
	text-align: center;
}
.firstLetter{
  float       : left;
  font-size   : 3.26em;
  line-height : 0.5em;
  margin      : 0.205em 0.153em 0 0;
}

.firstLetter + span{
  margin-left : -0.5em;
}
h1 {
    font-size: 78px;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
   }
h3{
  font-size: 38px;
  margin-left: 200px;
  padding-top: 100px;
}
.byline {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 2px;
}
img{
	height: 200;
	width: 300px;
}
.caption {
    font-style: italic;
    opacity: .6;
    margin-top: -10px;
}
.pl {
  font-size: 38px;
  width: 500px;
  float: bottom;
  padding-top: 30px;
  padding-bottom: 30px; 
  opacity: .6;
}
.quote-marks{
  font-size: 3.25em;
  margin: 0.205em 0.153em 0 0;


}